#Getting Data from Kaggle
Link: https://www.kaggle.com/c/DontGetKicked/overview

In [70]:
# !pip install kaggle
# import os
# os.environ['KAGGLE_CONFIG_DIR'] = r'/content/drive/MyDrive/Colab Notebooks/'
# cd '/content/drive/MyDrive/Colab Notebooks/Course Project'
# !kaggle competitions download -c DontGetKicked
# !unzip \*.zip && rm *.zip # unzips and removes the zips

time: 2.57 ms (started: 2021-08-13 14:44:31 +00:00)

In [71]:
!pip install ipython-autotime
%load_ext autotime

Requirement already satisfied: ipython-autotime in /usr/local/lib/python3.7/dist-packages (0.3.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from ipython-autotime) (5.5.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (57.2.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (1.0.18)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (5.0.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (4.8.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.2->ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->ipython-autotime) (0.7.0)
The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 2.75 s (started: 2021-08-13 14:44:32 +00:00)

#Importing Data, doing Data Analysis, doing data pre-processing and taking care of null values

In [72]:
import pandas as pd
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Course Project/training.csv")

time: 434 ms (started: 2021-08-13 14:44:35 +00:00)

In [73]:
# Shape of the data
print("Training data:", data.shape)

Training data: (72983, 34)
Test data: (48707, 33)
time: 1.67 ms (started: 2021-08-13 14:44:35 +00:00)

In [74]:
# Null Values
data.isnull().sum()

RefId                                    0
IsBadBuy                                 0
PurchDate                                0
Auction                                  0
VehYear                                  0
VehicleAge                               0
Make                                     0
Model                                    0
Trim                                  2360
SubModel                                 8
Color                                    8
Transmission                             9
WheelTypeID                           3169
WheelType                             3174
VehOdo                                   0
Nationality                              5
Size                                     5
TopThreeAmericanName                     5
MMRAcquisitionAuctionAveragePrice       18
MMRAcquisitionAuctionCleanPrice         18
MMRAcquisitionRetailAveragePrice        18
MMRAcquisitonRetailCleanPrice           18
MMRCurrentAuctionAveragePrice          315
MMRCurrentAuctionCleanPrice            315
MMRCurrentRetailAveragePrice           315
MMRCurrentRetailCleanPrice             315
PRIMEUNIT                            69564
AUCGUART                             69564
BYRNO                                    0
VNZIP1                                   0
VNST                                     0
VehBCost                                 0
IsOnlineSale                             0
WarrantyCost                             0
dtype: int64

time: 49.5 ms (started: 2021-08-13 14:44:35 +00:00)

In [77]:
data.head()

   RefId  IsBadBuy  PurchDate  ... VehBCost  IsOnlineSale  WarrantyCost
0      1         0  12/7/2009  ...   7100.0             0          1113
1      2         0  12/7/2009  ...   7600.0             0          1053
2      3         0  12/7/2009  ...   4900.0             0          1389
3      4         0  12/7/2009  ...   4100.0             0           630
4      5         0  12/7/2009  ...   4000.0             0          1020

[5 rows x 34 columns]

time: 85 ms (started: 2021-08-13 14:44:35 +00:00)

In [78]:
data.describe()

              RefId      IsBadBuy  ...  IsOnlineSale  WarrantyCost
count  72983.000000  72983.000000  ...  72983.000000  72983.000000
mean   36511.428497      0.122988  ...      0.025280   1276.580985
std    21077.241302      0.328425  ...      0.156975    598.846788
min        1.000000      0.000000  ...      0.000000    462.000000
25%    18257.500000      0.000000  ...      0.000000    837.000000
50%    36514.000000      0.000000  ...      0.000000   1155.000000
75%    54764.500000      0.000000  ...      0.000000   1623.000000
max    73014.000000      1.000000  ...      1.000000   7498.000000

[8 rows x 19 columns]

time: 129 ms (started: 2021-08-13 14:44:36 +00:00)

In [79]:
# Looking the Unique Values in each Columns
for col in columns:
  print(col)
  print(data[col].unique())
  print("------------------------------")

RefId
[    1     2     3 ... 73012 73013 73014]
------------------------------
IsBadBuy
[0 1]
------------------------------
PurchDate
['12/7/2009' '12/14/2009' '12/21/2009' '12/28/2009' '1/4/2010' '1/11/2010'
 '1/18/2010' '1/25/2010' '2/1/2010' '2/8/2010' '2/15/2010' '2/22/2010'
 '3/1/2010' '3/8/2010' '3/15/2010' '3/22/2010' '3/29/2010' '4/5/2010'
 '4/12/2010' '4/19/2010' '4/26/2010' '5/3/2010' '5/10/2010' '5/17/2010'
 '5/24/2010' '6/2/2010' '9/27/2010' '10/4/2010' '10/11/2010' '10/18/2010'
 '10/25/2010' '11/1/2010' '11/8/2010' '11/15/2010' '11/22/2010'
 '11/29/2010' '12/6/2010' '12/13/2010' '12/20/2010' '2/18/2009'
 '8/19/2009' '8/26/2009' '9/2/2009' '9/9/2009' '9/16/2009' '9/23/2009'
 '9/30/2009' '10/7/2009' '2/24/2010' '3/3/2010' '3/10/2010' '3/17/2010'
 '3/24/2010' '3/25/2010' '3/31/2010' '4/14/2010' '4/28/2010' '5/12/2010'
 '6/9/2010' '6/16/2010' '6/23/2010' '6/30/2010' '7/7/2010' '7/14/2010'
 '7/21/2010' '8/4/2010' '8/11/2010' '8/18/2010' '8/25/2010' '9/1/2010'
 '9/8/2010' '9/15/2010' '9/22/2010' '9/29/2010' '10/13/2010' '10/20/2010'
 '10/27/2010' '11/3/2010' '11/10/2010' '11/17/2010' '7/21/2009'
 '7/28/2009' '8/4/2009' '8/11/2009' '8/18/2009' '8/25/2009' '9/1/2009'
 '9/8/2009' '9/22/2009' '9/29/2009' '10/6/2009' '10/13/2009' '10/20/2009'
 '10/27/2009' '11/3/2009' '11/10/2009' '11/17/2009' '12/8/2009'
 '12/15/2009' '12/22/2009' '1/5/2010' '1/12/2010' '1/19/2010' '1/26/2010'
 '2/2/2010' '2/9/2010' '2/16/2010' '2/23/2010' '3/2/2010' '3/9/2010'
 '3/16/2010' '3/23/2010' '3/30/2010' '4/6/2010' '4/13/2010' '4/20/2010'
 '4/27/2010' '5/4/2010' '5/11/2010' '5/18/2010' '5/25/2010' '6/8/2010'
 '6/15/2010' '6/22/2010' '6/29/2010' '7/6/2010' '11/11/2010' '11/18/2010'
 '11/23/2010' '11/24/2010' '12/2/2010' '12/9/2010' '12/14/2010'
 '12/16/2010' '10/5/2010' '10/12/2010' '10/19/2010' '10/26/2010'
 '11/2/2010' '11/9/2010' '11/16/2010' '11/30/2010' '12/7/2010' '3/3/2009'
 '3/10/2009' '3/17/2009' '3/24/2009' '3/31/2009' '4/7/2009' '4/14/2009'
 '4/28/2009' '5/12/2009' '5/26/2009' '6/9/2009' '6/22/2009' '6/23/2009'
 '11/11/2009' '12/3/2009' '12/11/2009' '12/23/2009' '12/30/2009'
 '2/3/2010' '2/10/2010' '2/17/2010' '10/6/2010' '12/1/2010' '12/8/2010'
 '9/25/2009' '1/30/2009' '2/6/2009' '2/13/2009' '2/20/2009' '2/27/2009'
 '3/6/2009' '3/13/2009' '3/20/2009' '3/27/2009' '4/3/2009' '4/10/2009'
 '4/9/2010' '4/16/2010' '4/23/2010' '4/30/2010' '5/7/2010' '5/21/2010'
 '5/28/2010' '6/4/2010' '6/11/2010' '6/18/2010' '6/25/2010' '7/2/2010'
 '7/9/2010' '7/16/2010' '7/30/2010' '8/6/2010' '8/13/2010' '8/20/2010'
 '8/27/2010' '9/3/2010' '9/10/2010' '9/17/2010' '9/24/2010' '3/2/2009'
 '3/9/2009' '3/16/2009' '3/23/2009' '3/30/2009' '4/6/2009' '4/13/2009'
 '4/20/2009' '10/5/2009' '10/12/2009' '10/19/2009' '10/26/2009'
 '11/2/2009' '11/9/2009' '11/16/2009' '11/23/2009' '11/30/2009' '6/7/2010'
 '6/14/2010' '6/21/2010' '6/28/2010' '7/12/2010' '7/19/2010' '7/26/2010'
 '8/2/2010' '8/9/2010' '8/16/2010' '8/23/2010' '8/30/2010' '9/13/2010'
 '12/21/2010' '2/17/2009' '2/24/2009' '4/21/2009' '6/16/2009' '7/14/2009'
 '9/15/2009' '12/1/2009' '12/29/2009' '2/26/2010' '6/1/2010' '7/13/2010'
 '7/20/2010' '7/27/2010' '8/3/2010' '8/10/2010' '8/17/2010' '8/24/2010'
 '8/31/2010' '9/7/2010' '9/14/2010' '9/21/2010' '9/28/2010' '7/29/2009'
 '8/5/2009' '8/12/2009' '10/14/2009' '10/21/2009' '10/28/2009' '11/4/2009'
 '11/18/2009' '12/2/2009' '12/9/2009' '12/16/2009' '1/6/2010' '1/13/2010'
 '1/20/2010' '1/27/2010' '2/18/2010' '4/7/2010' '4/21/2010' '5/5/2010'
 '5/19/2010' '5/26/2010' '12/15/2010' '12/22/2010' '12/17/2010' '1/6/2009'
 '1/13/2009' '1/20/2009' '1/27/2009' '2/3/2009' '2/10/2009' '5/19/2009'
 '6/2/2009' '9/20/2010' '10/15/2009' '10/29/2009' '7/7/2009' '10/28/2010'
 '4/1/2009' '4/15/2009' '4/29/2009' '5/20/2009' '5/27/2009' '6/3/2009'
 '6/10/2009' '6/17/2009' '6/24/2009' '7/8/2009' '7/15/2009' '7/22/2009'
 '7/28/2010' '12/28/2010' '3/4/2009' '2/25/2009' '5/8/2009' '5/22/2009'
 '6/5/2009' '6/19/2009' '6/30/2009' '7/10/2009' '7/31/2009' '8/7/2009'
 '8/14/2009' '8/20/2009' '8/21/2009' '10/16/2009' '11/24/2009' '12/4/2009'
 '2/4/2010' '4/17/2009' '5/5/2009' '8/28/2009' '9/3/2009' '9/11/2009'
 '9/18/2009' '10/9/2009' '2/12/2010' '4/2/2010' '7/23/2010' '6/11/2009'
 '6/18/2009' '6/25/2009' '7/2/2009' '7/9/2009' '7/16/2009' '7/23/2009'
 '7/30/2009' '8/6/2009' '8/13/2009' '8/27/2009' '3/4/2010' '3/11/2010'
 '3/18/2010' '4/1/2010' '4/8/2010' '4/15/2010' '4/22/2010' '4/29/2010'
 '5/6/2010' '5/13/2010' '5/20/2010' '5/27/2010' '11/4/2010' '12/23/2010'
 '3/5/2009' '5/14/2010' '10/1/2010' '10/15/2010' '1/8/2009' '1/15/2009'
 '1/22/2009' '1/29/2009' '2/5/2009' '2/12/2009' '2/19/2009' '2/26/2009'
 '3/12/2009' '3/19/2009' '3/26/2009' '4/2/2009' '4/9/2009' '4/16/2009'
 '4/23/2009' '4/30/2009' '5/7/2009' '5/14/2009' '5/21/2009' '5/25/2009'
 '5/28/2009' '6/4/2009' '9/10/2009' '9/17/2009' '9/24/2009' '10/1/2009'
 '10/8/2009' '10/22/2009' '11/5/2009' '11/12/2009' '11/19/2009'
 '11/25/2009' '12/10/2009' '12/17/2009' '1/7/2010' '1/14/2010' '1/21/2010'
 '1/28/2010' '2/11/2010' '2/25/2010' '10/21/2010' '1/5/2009' '2/23/2009'
 '5/11/2009' '5/18/2009' '6/1/2009' '6/8/2009' '8/10/2009' '8/17/2009'
 '8/24/2009' '8/31/2009' '9/4/2009' '9/7/2009' '9/14/2009' '11/6/2009'
 '11/20/2009' '2/5/2010' '2/19/2010' '11/5/2010' '6/3/2010' '6/10/2010'
 '6/17/2010' '6/24/2010' '7/1/2010' '7/8/2010' '7/15/2010' '7/22/2010'
 '7/29/2010' '8/5/2010' '8/12/2010' '8/19/2010' '8/26/2010' '9/2/2010'
 '9/9/2010' '9/23/2010' '9/30/2010' '10/7/2010' '10/14/2010' '1/12/2009'
 '1/14/2009' '1/19/2009' '1/26/2009' '1/28/2009' '2/2/2009' '2/4/2009'
 '2/9/2009' '2/16/2009' '4/27/2009' '5/4/2009' '6/15/2009' '6/29/2009'
 '7/6/2009' '7/13/2009' '7/17/2009' '7/20/2009' '7/27/2009' '8/3/2009'
 '11/19/2010' '9/21/2009' '9/28/2009' '10/2/2009' '12/31/2009' '1/22/2010'
 '3/5/2010' '7/5/2010' '3/12/2010' '3/26/2010' '9/6/2010' '12/3/2010'
 '12/27/2010' '1/21/2009' '2/11/2009' '3/25/2009' '5/13/2009' '7/1/2009'
 '3/11/2009' '3/18/2009' '4/22/2009' '5/6/2009' '1/10/2010' '4/8/2009'
 '12/29/2010' '10/8/2010' '10/22/2010' '10/29/2010' '11/12/2010'
 '12/10/2010' '5/15/2009' '1/7/2009' '1/9/2009' '1/16/2009' '1/23/2009'
 '4/24/2009' '11/13/2009' '12/18/2009' '9/16/2010' '3/19/2010' '6/12/2009'
 '6/26/2009' '7/3/2009' '10/23/2009' '5/1/2009' '5/29/2009' '7/24/2009'
 '10/30/2009' '11/27/2009' '11/26/2010' '11/8/2009' '1/15/2010'
 '1/29/2010' '1/8/2010' '2/20/2010' '12/4/2010' '12/24/2010' '12/30/2010']
------------------------------
Auction
['ADESA' 'OTHER' 'MANHEIM']
------------------------------
VehYear
[2006 2004 2005 2007 2001 2003 2002 2008 2009 2010]
------------------------------
VehicleAge
[3 5 4 2 8 6 7 9 1 0]
------------------------------
Make
['MAZDA' 'DODGE' 'FORD' 'MITSUBISHI' 'KIA' 'GMC' 'NISSAN' 'CHEVROLET'
 'SATURN' 'CHRYSLER' 'MERCURY' 'HYUNDAI' 'TOYOTA' 'PONTIAC' 'SUZUKI'
 'JEEP' 'HONDA' 'OLDSMOBILE' 'BUICK' 'SCION' 'VOLKSWAGEN' 'ISUZU'
 'LINCOLN' 'MINI' 'SUBARU' 'CADILLAC' 'VOLVO' 'INFINITI' 'PLYMOUTH'
 'LEXUS' 'ACURA' 'TOYOTA SCION' 'HUMMER']
------------------------------
Model
['MAZDA3' '1500 RAM PICKUP 2WD' 'STRATUS V6' ... 'EXCURSION 4WD V8 5.4'
 'M45 4.5L V8 MPI / SF' 'PATRIOT 2WD 4C 2.0L']
------------------------------
Trim
['i' 'ST' 'SXT' 'ZX3' 'ES' 'EX' 'SE' 'SEL' 'SLE' 'XL' 'Bas' 'LS' nan 'SS'
 'SLT' '150' 'Spo' 'LX' 'GLS' 'CE' 'GT' 'Lar' '2' 'Adv' 'SR5' 'GXP' 'Tou'
 'XLT' 'LT' 'SES' 'XLS' 'GL' 'LE' '1' 'L20' 'Lim' 's' 'Edd' '3' 'Edg'
 'ZTW' 'ZX4' 'STX' 'CX' 'Nor' 'GS' 'XE' 'CXL' 'Ren' 'LTZ' 'ZTS' 'S' 'GTC'
 'GTP' 'Cla' 'Spy' 'LXi' 'SE-' 'Exe' 'Pre' 'SL2' 'GXE' 'SL1' 'Cus' 'GLE'
 'DE' 'Z71' 'Si' 'X' 'SX' 'XR' 'SVT' 'GTS' 'LW3' 'SV6' 'Val' 'Car' 'eL'
 'DX' 'Spe' 'W/T' 'LW2' 'Pro' 'SL' 'L30' 'RT' 'CXS' 'VP' 'Cin' 'Max' 'Ral'
 'Sta' 'Lux' 'R/T' 'Her' 'ZX5' 'Xsp' 'Kin' '3 R' 'Hig' 'GX' 'EX-' 'RS'
 'Plu' 'Ult' 'DS' 'Ove' 'Den' 'XRS' 'SC2' 'Sig' 'SC1' 'XS' 'C' 'ZX2' 'ZXW'
 'ZR2' 'Dur' 'OZ' 'L' '250' 'eC' 'FX4' 'Out' 'L10' 'Maz' 'Ent' 'T5' 'Z24'
 'Har' 'LL' 'Hyb' 'JLX' 'JLS' 'L 3']
------------------------------
SubModel
['4D SEDAN I' 'QUAD CAB 4.7L SLT' '4D SEDAN SXT FFV' '4D SEDAN'
 '2D COUPE ZX3' '4D SEDAN ES' '4D SEDAN EX' '4D SEDAN SE' '4D SEDAN SEL'
 'REG CAB 4.3L' 'REG CAB 4.2L XL' 'MINIVAN 3.3L' 'MINIVAN 3.8L' '2D COUPE'
 '4D SUV 4.2L' '4D CUV 2.2L' '4D UTILITY 4.2L SLE' '2D COUPE SS'
 'PASSENGER 3.4L' '4D SUV 2.2L LS' '4D SEDAN LS PREMIUM' '4D SUV 5.7L SLT'
 'MINIVAN 3.8L SXT' '4D UTILITY 5.3L FFV LS' '2D SUV 4.0L SPORT'
 '4D SUV-PICKUP 5.3L' 'PASSENGER 3.8L LX' 'PASSENGER 3.9L LX'
 '4D WAGON SXT' '4D SEDAN 1.8' '4D SPORT TOURER' '4D SEDAN LS 3.5L FFV'
 'QUAD CAB 5.7L' '4D SPORT UTILITY' '4D SEDAN CE' '4D SEDAN GT'
 'QUAD CAB 4.7L' '4D SEDAN LEVEL 2' '4D SUV 4.7L' '4D SUV 4.7L ADVENTURER'
 '4D SEDAN GLS' '4D SPORT UTILITY SPORT EDITION' '4D SEDAN GXP'
 '4D WAGON SPORT' '4D SUV' 'QUAD CAB 3.7L ST' '4D SUV 5.3L' '4D SEDAN LS'
 '4D SUV 4.6L XLT' '4D SUV 4.7L ST' '4D SPORT UTILITY EX' '4D SUV 2.2L LT'
 '4D SEDAN SES' '4D CUV 3.0L SEL' 'CREW CAB 5.4L KING RANCH'
 '4D SUV 4.2L LS' '4D SUV HARDTOP 2.5L LT' 'QUAD CAB 5.7L SLT'
 '4D SUV 3.7L' '4D SUV 4.6L XLS' 'QUAD CAB 4.7L FFV BIG HORN'
 '4D SEDAN GL1' 'MINIVAN 3.3L LX' '4D SEDAN LE' 'WAGON 2.7L' '4D SUV LS'
 '4D SUV SPORT' '4D SEDAN LEVEL 1' '4D CUV 3.0L SE' '4D SEDAN L200'
 '4D SUV LIMITED' '4D WAGON' '5D SEDAN GS' '4D SUV 4.6L EDDIE BAUER'
 '4D SUV 5.4L EDDIE BAUER' 'REG CAB 3.7L' '4D MINIVAN EXT 3.4L GLS'
 '4D CUV 3.0L XLT' '4D SEDAN LEVEL 3' '2D EXT CAB 3.0L EDGE'
 '4D WAGON ZTW' '2D COUPE LS' '4D SUV 4.7L SLT' 'PASSENGER EXT 3.5L'
 'EXT CAB 4.8L' '4D SUV 4.0L FFV XLT' '4D SPORT UTILITY LS'
 '4D SEDAN SEL FFV' '4D SEDAN SE FFV' 'WAGON 3.5L' '4D SPORT TOURING'
 '4D SEDAN ZX4 SE' '4D SEDAN GL' '4D SEDAN LT 3.5L' '4D CUV' '4D SEDAN S'
 'EXT CAB 3.7L' 'PASSENGER EXT 3.5L LS' 'REG CAB 3.0L EDGE'
 'MINIVAN 3.3L FFV SPORT' '4D SPORT UTILITY I' '4D SUV CX'
 '4D SEDAN LT 3.5L FFV' 'REG CAB 4.2L STX' '4D SEDAN SE1' '4D WAGON SE'
 '4D SEDAN LX AUTO' '4D CUV 2.3L XLS' '2D COUPE SE' '4D SEDAN ZX4'
 'REG CAB 2.8L' '4D CUV 2.7L' '4D WAGON LAREDO' '4D SEDAN SE COMFORT'
 '4D SEDAN LX' 'MINIVAN 3.3L SPORT' '4D SEDAN 2.7L SE' '4D SPORT'
 '4D SEDAN SXT' '4D SEDAN GS' '4D SUV HARDTOP 2.5L' '4D SEDAN LT'
 '4D SPORT UTILITY SE' '4D SEDAN XE' 'REG CAB 4.6L STX'
 '4D SPORT UTILITY S' 'EXT CAB 4.6L STX' '4D WAGON CX' '4D SUV RENEGADE'
 'MINIVAN 3.3L SE' '4D SEDAN TOURING TURBO' '2D CONVERTIBLE LX'
 '4D SEDAN LTZ' 'PASSENGER 3.5L LS' '4D CUV 2.7L GLS' '4D SEDAN ZTS'
 '4D HATCHBACK S' '4D SUV 4.0L FFV XLS' 'MINIVAN 3.8L SPORT'
 '4D SUV 3.7L SLT' 'EXT CAB 4.6L FX2 SPORT' '4D SEDAN PKG1'
 '2D CONVERTIBLE GTC' '4D SEDAN LT 3.9L' 'MAZDA3 4D I SPORT'
 '4D PASSENGER 3.8L SE' '4D SEDAN GTP' '4D SEDAN LS SPORT'
 'PASSENGER EXT 3.4L LS' '4D SUV 5.4L XLT' '4D SEDAN 2.7L'
 '4D SEDAN CLASSIC' '4D SUV 3.0L' '2D CONVERTIBLE TOURING'
 '4D SEDAN TOURING' 'SPORT UTILITY' '2D SPYDER GT' '4D SUV LT'
 '4D SEDAN LXI' 'PASSENGER EXT 3.4L' '4D SEDAN SE-R' 'MINIVAN 3.8L LXI'
 'EXT CAB 5.3L LS' '4D SUV 4.8L LS' '4D SEDAN GT2' '4D SPORT UTILITY LX'
 '2D COUPE LT' '4D SUV 4.0L XLT' '2D COUPE EX AUTO' '4D CUV 3.0L XLS'
 '2D COUPE GS' '4D SEDAN EXECUTIVE' '4D SEDAN PREMIER' '4D SEDAN EX AUTO'
 '4D SUV 5.7L LIMITED' 'MINIVAN 2.4L' '4D SEDAN LIMITED' 'CREW CAB 5.3L'
 '4D SEDAN SL2' '4D PASSENGER 3.8L SEL' '4D SEDAN GXE' '4D SEDAN SE AUTO'
 '4D SEDAN ES HIGHLINE' '4D SUV 5.9L SLT' 'EXT CAB 5.3L' 'PASSENGER 3.9L'
 '4D SEDAN SL1' '4D SEDAN CUSTOM' 'QUAD CAB 3.7L' '4D SPORT UTILITY ES'
 '4D SEDAN LUXURY' 'REG CAB 2.2L FFV' '4D SEDAN SES DURATEC'
 'CREW CAB 4.6L XLT' '4D SEDAN DE' '4D SEDAN GL2' '4D SUV 5.3L FFV LS'
 '4D SEDAN 1.8S' '2D COUPE SE AUTO' '4D SEDAN 3.5L' '2D HATCKBACK SI 5SP'
 'WAGON 3.5L SXT' '4D SEDAN CX' '2D QUAD COUPE LEVEL 3' '4D SEDAN GLE'
 '2D CONVERTIBLE' '4D SEDAN 3.5L SE' 'MINIVAN 3.3L SXT'
 '4D SPORT UTILITY 2.5X' '4D SPORT UTILITY XE' 'EXT CAB 4.7L SLT'
 '2D COUPE GT1' '2D CONVERTIBLE SE' '4D MINIVAN EXT 3.4L'
 '4D HATCHBACK GS' '4D SUV 5.3L LS' 'EXT CAB 4.3L' '4D UTILITY 4.2L'
 'MINIVAN 3.8L EX' '4D SEDAN XR' 'REG CAB 2.3L EDGE'
 '4D SEDAN LT 3.8L FFV' '2D COUPE GT' '2D CONVERTIBLE DREAM CRUISER'
 '4D PASSENGER 3.9L SES' '2D COUPE SVT' 'MINIVAN 3.3L FFV SE'
 '4D CUV 3.0L LIMITED' '4D SUV 4.0L' 'QUAD CAB 4.7L SPORT' '2D COUPE GLS'
 '4D WAGON LW300' 'REG CAB 3.9L' '4D SEDAN LS CLASSIC'
 'EXT MINIVAN 3.3L LX' 'EXT CAB 5.4L XL' '4D SUV 4.0L XLS'
 '2D QUAD COUPE LEVEL 2' 'PASSENGER 3.9L SE' '2D COUPE GL2'
 '4D HARDTOP EX' '4D SUV 4.8L' 'EXT CAB 5.3L SLE' 'EXT CAB 4.8L LS'
 'EXT CAB 4.6L XLT' 'CREW CAB 5.6L SE' '4D SUV 2.2L 1LT'
 '4D MINIVAN EXT 3.5L' '4D SEDAN LS 3.5L' '2D COUPE SXT' '4D SUV 4.2L LT'
 '4D WAGON LX' 'REG CAB 4.7L SLT' '4D WAGON GT' 'CARGO EXT 3.9L'
 '4D SEDAN VALUE' 'EXT CAB 5.6L' '2D COUPE GTP' 'EXT CAB 5.4L XLT'
 'REG CAB 4.7L' '2D COUPE GL' '4D CUV 3.0L' 'UTILITY'
 '4D SEDAN LIMITED AWD' '4D SEDAN GT1' '4D CUV GLS' '4D SUV HARDTOP 2.0L'
 'MINIVAN 2.4L SE' 'QUAD CAB 3.9L SLT' 'EXT CAB 3.9L'
 'EXT CAB 5.4L LARIAT' '4D WAGON LS PREMIUM' '4D SEDAN CARTIER'
 'EXT CAB 4.7L LIMITED' 'MINIVAN 3.8L EL' '4D WAGON SEL DURATEC'
 '4D SPORT UTILITY 5 PASS' 'EXT CAB 2.4L XE' 'EXT CAB 3.5L LS' 'WAGON ES'
 'MINIVAN 3.3L LX POPULAR' '4D WAGON LIMITED' '4D CUV DLX'
 'REG CAB 5.7L ST' '4D SEDAN SPECIAL' 'REG CAB 4.6L XLT' '4D SEDAN CXL'
 '4D SEDAN SE SVG' '4D SUV 4.0L SPORT TRAC' 'PASSENGER 3.4L VALUE'
 'CREW CAB 5.4L HARLEY DAVIDSON' '4D CUV 2.0L XLS' '4D SPORTBACK LS'
 'MINIVAN 3.3L EL' 'REG CAB 2.4L' '2D SUV 4.0L SPORT XLS' '4D WAGON LW200'
 '4D SPORT UTILITY XLS' '2D SEDAN' 'PASSENGER 3.8L' 'REG CAB 3.5L LS'
 '4D SUV 4.7L SPORT' '4D EXT CAB 3.0L FFV XLT' '4D CUV 3.5L'
 'MINIVAN 2.4L LX' 'PASSENGER 3.9L SEL' 'REG CAB 2.3L' '4D SEDAN L300'
 '4D MINIVAN 3.4L' '4D SUV 3.7L SXT' '4D SUV CXL'
 '4D SEDAN SE COMFORT DURATEC' 'WAGON R/T' '4D SEDAN ZX4 SES'
 'QUAD CAB 3.7L SLT' '4D SEDAN 3.5L AWD' 'REG CAB 4.8L LS' '4D SEDAN CXS'
 'PASSENGER EXT 3.9L LS' 'QUAD CAB 3.7L SPORT' 'PASSENGER EXT 3.5L LT'
 '4D SUV 4.7L SXT' '4D SUV 5.7L' 'EXT CAB 4.3L LS' '4D SEDAN AWD SE'
 '4D SEDAN DX AUTO' '4D SEDAN LX 5SP' '4D SEDAN SE AWD' '4D WAGON CINCO'
 '4D SEDAN PREMIER AWD' 'EXT CAB 5.4L FX2 SPORT' 'QUAD CAB 5.7L BIG HORN'
 '4D SUV 4.7L FFV SXT' '4D UTILITY 5.3L SLE' '4D WAGON EX'
 'PASSENGER 4.2L SE' 'CREW CAB 5.4L LARIAT' '4D SEDAN GT TURBO'
 '4D SPORT UTILITY LE' '2D COUPE LIMTED' '4D SEDAN RALLIART'
 'REG CAB 3.7L ST' 'EXT CAB 3.0L EDGE' 'PASSENGER EXT 3.9L LT'
 '4D SUV 5.3L FFV' '4D UTILITY 5.3L LS' 'CREW CAB 5.3L SLE' 'REG CAB 5.3L'
 '4D UTILITY XUV 4.2L SLE' '4D UTILITY 5.3L SLT' '4D SUV 4.6L'
 '2D COUPE EX 5SP' '5D HATCHBACK I' 'EXT CAB 2.8L LS' 'REG CAB 3.7L SXT'
 '5D SEDAN S' '2D SPYDER GTS' '4D PASSENGER 4.2L LIMITED' '4D WAGON S'
 '4D SUV 3.0L PREMIER' '2D COUPE GL1' '4D CUV DELUXE'
 '4D SUV 5.7L HEMI SLT' '4D SEDAN ZX4 ST' '4D CROSSOVER SEL'
 'REG CAB 6.0L' '4D SEDAN 2.4I' 'MINIVAN 3.8L LIMITED' '4D SEDAN SEL AWD'
 '4D WAGON R/T' '3D EXT CAB 2.2L' '4D HATCHBACK ZX5 S' '4D SEDAN AWD SEL'
 'WAGON LX' '4D WAGON LS' '4D SEDAN XL' '4D SUV 4.0L EDDIE BAUER'
 'EXT CAB 4.2L XL' '4D SUV 2.4L' 'EXT CAB 3.9L SLT'
 '4D SPORT UTILITY LIMITED FFV' 'REG CAB 2.2L' '4D SEDAN GTS'
 '4D SEDAN 2.5 S' 'QUAD CAB 4.7L ST' '2D EXT CAB 3.0L' '4D SUV 5.3L LT'
 'QUAD CAB 5.9L SLT' 'EXT CAB 4.2L W/T' '4D SUV 3.0L LUXURY'
 'REG CAB 4.8L' '4D SUV 2.2L' '2D HATCHBACK' '4D SEDAN 2.5 SL'
 '4D SPORT UTILITY XSPORT' '4D SEDAN DX' '4D HATCHBACK'
 '4D SEDAN SEL DURATEC' 'REG CAB 4.6L XL' 'QUAD CAB 5.9L SPORT'
 'EXT CAB 6.0L' 'EXT CAB 5.6L LE' '4D UTILITY 5.3L FFV' '4D HARDTOP LX'
 'CREW CAB 3.5L SL' 'EXT CAB 4.8L SLE' '4D SUV 2.3L CONVENIENCE'
 'CREW CAB 6.0L LS' 'REG CAB 5.7L SLT' '4D UTILITY 4.8L SLE'
 'REG CAB 5.4L XL' 'EXT CAB 4.0L LE' 'EXT CAB 8.1L LS' 'CREW CAB 4.3L LS'
 'REG CAB 4.3L LS' 'EXT CAB 3.5L' 'REG CAB 4.3L SLE' 'PASSENGER 3.9L LS'
 'CREW CAB 3.5L LS' 'CREW CAB 4.7L SR5' '4D SEDAN AUTO'
 'CREW CAB 3.5L Z71' 'CREW CAB 5.6L' '4D SUV 4.7L SL' 'EXT CAB 2.8L'
 'MINIVAN 3.8L ES' '4D SUV 5.7L HEMI LIMITED' '2D COUPE R/T'
 'REG CAB 5.3L LS' '4D UTILITY 4.8L' 'REG CAB 3.5L SL'
 '4D WAGON LAREDO FFV' '4D SEDAN SS' 'CREW CAB 5.6L LE' 'CREW CAB 4.8L'
 '2D COUPE EX 6SP' '4D SEDAN HYBRID' '4D SEDAN GX' '4D SUV SPORT 2.4L'
 'EXT CAB 3.7L SLT' 'MINIVAN EX-L' 'PASSENGER EXT 3.9L'
 'MAZDA5 GRAND TOURING' '4D WAGON ZX5' '2D COUPE LX AUTO' '2D COUPE RS'
 '4D SEDAN LIMITED TURBO' '4D SUV 4.7L LIMITED' '2D COUPE LX'
 '4D SUV 5.4L' '3D EXT CAB 4.3L' 'REG CAB 4.7L FFV' '4D SEDAN R/T'
 '4D WAGON GS' '4D SPORT UTILITY 3.5L XLS' '4D SUV 4.0L FFV LIMITED'
 'EXT CAB 5.3L SL' '4D UTILITY 4.8L SLT' '4D SUV 2.3L'
 'ACCESS CAB 4.7L SR5' '4D SEDAN SLE' '5D HATCHBACK S' '4D SEDAN Z24'
 'WAGON DX' '4D SEDAN AWD' '2D HATCHBACK ZX3' 'REG CAB 4.0L'
 '4D WAGON OVERLAND' '4D EXT CAB 3.0L EDGE' 'EXT CAB 6.0L LS'
 '4D MINIVAN 3.4L VALUE' '4D SEDAN EX AUTO NAVIGATION'
 '4D WAGON CONVENIENCE' '4D SPORT UTILITY DX' '4D SUV 4.7L FFV SLT'
 '4D HATCHBACK AWD' '4D UTILITY 6.0L DENALI' 'DOUBLE CAB 4.7L SR5'
 '4D SEDAN XRS' '3D COUPE SC2' '4D SEDAN FFV TOURING'
 '4D SEDAN GS 3.0L FFV' '4D UTILITY 5.3L' '4D WAGON GRAND TOURING'
 '4D CUV GL' '4D PASSENGER 3.8L SEL LIMITED' '4D PASSENGER 3.8L SE SPORT'
 'EXT CAB 4.7L SR5' '2D COUPE AUTO' '2D COUPE LX 5SP' '5D SEDAN ZX5'
 'CREW CAB 3.3L XE' '4D SPORT UTILITY XL7' '4D WAGON SE DURATEC'
 '4D SEDAN SIGNATURE' '4D SPORT UTILITY LIMITED' 'REG CAB 2.5L EDGE'
 'QUAD CAB 4.7L FFV SLT' '3D COUPE SC1' '4D SPORT UTILITY 3.5L XS'
 'REG CAB 2.2L SL' 'EXT CAB 2.2L LS' '4D SPORT UTILITY LEVEL 3'
 '2D HATCHBACK GS' 'EXT CAB 4.6L LARIAT' '4D SPORT UTILITY SL'
 'CREW CAB 4.6L LARIAT' '4D SPORT UTILITY EX AUTO' '4D SEDAN HEMI'
 '4D WAGON SE COMFORT' 'EXT CAB 3.5L Z71 LS' '4D HATCHBACK ZX5'
 'EXT CAB 3.7L SXT' '2D ROADSTER' '2D SPYDER GS' '4D SUV ULTRA'
 '4D PASSENGER 4.2L SEL' '2D HARTOP CONVERTIBLE GT' '4D SEDAN LS 3.6L'
 '4D SEDAN VALUE AUTO' '2D COUPE ZX2' '4D UTILITY 4.2L SLT'
 '4D SEDAN VP AUTO' '4D CUV 2.3L XLT' '4D SUV HARDTOP 2.5L ZR2'
 '5D SEDAN I' '2D COUPE GX' 'BASE' 'QUAD CAB 3.9L SPORT'
 'REG CAB 4.2L W/T' '4D SUV 4.0L FFV EDDIE BAUER'
 'DOUBLE CAB DURO CROSS 3.7L' '4D CUV 3.5L GLS' '4D SEDAN O-Z RALLY'
 'EXT CAB 3.0L SE' '4D SEDAN 2.5L' 'EXT CAB 5.9L R/T'
 'EXT CAB 4.7L FFV ST' 'CREW CAB 5.3L LS' 'PASSENGER EXT 3.4L WARNER BROS'
 '2D CONVERTIBLE GT' '4D WAGON ZXW' 'CREW CAB 4.0L LE'
 '4D SPORT UTILITY EX-P' '4D SUV LIMITED 2.4L' '4D SUV 5.7L HEMI'
 '4D SPORT UTILITY SR5' '2D EXT CAB 2.3L XL' 'EXT CAB 3.9L SXT'
 'EXT CAB 4.3L SL' 'REG CAB 4.0L XL' '4D SPORT UTILITY PREMIUM'
 '4D SEDAN SVT' '4D SEDAN ZX5' '4D SEDAN 6SP' '4D WAGON OUTBACK'
 '4D SPORT UTILITY LX AUTO' '4D UTILITY 5.3L LT' '4D UTILITY 5.3L FFV LT'
 '2D COUPE GT PREMIUM' 'EXT CAB 4.2L XLT' '2D COUPE LXI'
 'REG CAB 5.4L XLT' '4D UTILITY 6.0L' 'REG CAB 5.3L SLE'
 'EXT CAB 2.2L FFV' 'REG CAB 5.7L HEMI' 'REG CAB 2.2L FFV SL'
 'QUAD CAB 4.7L FFV' 'REG CAB 4.0L EDGE' 'QUAD CAB 4.7L LARAMIE'
 '4D SUV 2.4L LT' 'QUAD CAB 5.7L LARAMIE' 'MINIVAN 3.3L CARGO'
 'EXT CAB 4.3L SLE' 'EXT CAB 5.4L KING RANCH' 'MINIVAN 2.4L EC'
 '4D EXT CAB 4.0L EDGE' 'WAGON 2.7L SE' '2D COUPE DX 5SP'
 '2D COUPE DX AUTO' '4D SEDAN 1LT' '4D SEDAN SE2'
 '4D SPORT UTILITY TOURING' '4D SUV-PICKUP 5.3L Z66'
 'EXT CAB 5.4L HERITAGE' 'EXT CAB 3.4L SR5' '2D COUPE Z24'
 'CREW CAB 2.8L LS' '4D SEDAN EX 5SP' '4D SUV HARDTOP 2.2L LT'
 'QUAD CAB 5.9L' 'EXT CAB 2.9L LS' 'CREW CAB 4.0L SE' 'CREW CAB 4.8L LS'
 '4D SPORT UTILITY OFF-ROAD' 'MINIVAN 3.3L FFV SXT' '4D SEDAN TYPE S'
 'EXT CAB 3.4L PRERUNNER SR5' '2D LIFTBACK GT' 'EXT CAB 5.4L FX4'
 '4D CUV 3.6L XE' '2D HATCHBACK S' 'EXT CAB 5.4L FFV FX4'
 '4D SPORT UTILITY TOURING NAV' '2D CONVERTIBLE LIMITED'
 'QUAD CAB 4.7L BIG HORN' '4D SEDAN 2.5T' 'REG CAB 3.9L SXT'
 '4D SUV 4.6L LIMITED' 'MINIVAN 3.8L TOURING' 'REG CAB 3.0L XL'
 'EXT CAB 5.3L LT Z71' '2D CONVERTIBLE SLE' 'REG CAB 4.2L XLT'
 '4D SUV 4.0L PREMIER' '2D CONVERTIBLE GLS' '2D COUPE SE1'
 '4D HATCHBACK ZX5 SE' '4D SEDAN L AWD' 'EXT CAB 2.4L LE'
 '4D WAGON OUTBACK SPORT' 'REG CAB 4.6L W/T' '4D SEDAN 2.5I'
 'EXT CAB 2.4L SE' 'REG CAB 5.7L' '2D EXT CAB 3.0L DUAL SPORT FFV'

In [80]:
# List of columns to drop
# These columns are selected by going through the "Carvana_Data_Dictionary.txt" file included
drop_cols = ['RefId','VehYear', 'PurchDate', 'Model', 'Trim', 'SubModel', 'WheelTypeID', 'MMRAcquisitionAuctionAveragePrice',
'MMRAcquisitionAuctionCleanPrice','MMRAcquisitionRetailAveragePrice','MMRAcquisitonRetailCleanPrice',
'MMRCurrentAuctionAveragePrice','MMRCurrentAuctionCleanPrice','MMRCurrentRetailAveragePrice','MMRCurrentRetailCleanPrice']

time: 2.14 ms (started: 2021-08-13 14:44:36 +00:00)

In [81]:
# Dropping the columns
data = data.drop(columns=drop_cols, axis=1)
data = data.drop(columns = ['PRIMEUNIT', 'AUCGUART']) # Dropping these columns because most of the data in the columns are null

time: 22.9 ms (started: 2021-08-13 14:44:36 +00:00)

In [82]:
# Updated column list
columns_updated = data.columns
print("For training: ", columns_updated)

For training:  Index(['IsBadBuy', 'Auction', 'VehicleAge', 'Make', 'Color', 'Transmission',
       'WheelType', 'VehOdo', 'Nationality', 'Size', 'TopThreeAmericanName',
       'BYRNO', 'VNZIP1', 'VNST', 'VehBCost', 'IsOnlineSale', 'WarrantyCost'],
      dtype='object')
time: 5.62 ms (started: 2021-08-13 14:44:36 +00:00)

In [83]:
data[data['Make']=='TOYOTA SCION']

       IsBadBuy Auction  VehicleAge  ... VehBCost IsOnlineSale WarrantyCost
17854         0   OTHER           4  ...   5560.0            0          594

[1 rows x 17 columns]

time: 39.8 ms (started: 2021-08-13 14:44:36 +00:00)

In [84]:
data['Make'].replace('TOYOTA SCION','SCION',inplace=True)

time: 4.86 ms (started: 2021-08-13 14:44:36 +00:00)

In [85]:
data[data['Transmission']=='Manual']

       IsBadBuy Auction  VehicleAge  ... VehBCost IsOnlineSale WarrantyCost
33096         0   OTHER           3  ...   3800.0            0          569

[1 rows x 17 columns]

time: 46 ms (started: 2021-08-13 14:44:36 +00:00)

In [86]:
data['Transmission'].replace('Manual','MANUAL',inplace=True)

time: 4.4 ms (started: 2021-08-13 14:44:36 +00:00)

In [87]:
# Taking care of null values
data['WheelType'].fillna(value='WheelType_unk',inplace=True)
data['Color'].fillna(value='Color_unk',inplace=True)
data['Transmission'].fillna(value='Transmission_unk',inplace=True)
data['Nationality'].fillna(value='Nationality_unk',inplace=True)
data['Size'].fillna(value='Size_unk',inplace=True)
data['TopThreeAmericanName'].fillna(value='TopThreeAmericanName_unk',inplace=True)

time: 37.6 ms (started: 2021-08-13 14:44:36 +00:00)

In [88]:
# Which columns are numerical columns?
data.drop(['IsBadBuy'],axis=1).dtypes!='object'

Auction                 False
VehicleAge               True
Make                    False
Color                   False
Transmission            False
WheelType               False
VehOdo                   True
Nationality             False
Size                    False
TopThreeAmericanName    False
BYRNO                    True
VNZIP1                   True
VNST                    False
VehBCost                 True
IsOnlineSale             True
WarrantyCost             True
dtype: bool

time: 15.5 ms (started: 2021-08-13 14:44:36 +00:00)

In [89]:
# List of numerical columns and categorical columns
not_categorical=data.drop(['IsBadBuy'],axis=1).columns[data.drop(['IsBadBuy'],axis=1).dtypes!='object']
categorical=data.drop(['IsBadBuy'],axis=1).columns[data.drop(['IsBadBuy'],axis=1).dtypes=='object']
print("Non Categorical: ", not_categorical)
print("Categorical: ", categorical)

Non Categorical:  Index(['VehicleAge', 'VehOdo', 'BYRNO', 'VNZIP1', 'VehBCost', 'IsOnlineSale',
       'WarrantyCost'],
      dtype='object')
Categorical:  Index(['Auction', 'Make', 'Color', 'Transmission', 'WheelType', 'Nationality',
       'Size', 'TopThreeAmericanName', 'VNST'],
      dtype='object')
time: 40 ms (started: 2021-08-13 14:44:36 +00:00)

In [90]:
data[not_categorical].head()

   VehicleAge  VehOdo  BYRNO  VNZIP1  VehBCost  IsOnlineSale  WarrantyCost
0           3   89046  21973   33619    7100.0             0          1113
1           5   93593  19638   33619    7600.0             0          1053
2           4   73807  19638   33619    4900.0             0          1389
3           5   65617  19638   33619    4100.0             0           630
4           4   69367  19638   33619    4000.0             0          1020

time: 24 ms (started: 2021-08-13 14:44:36 +00:00)

In [91]:
# Scaling Numerical columns
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data[['Scaled_VehicleAge']] = scaler.fit_transform(data[['VehicleAge']])
data[['Scaled_VehOdo']] = scaler.fit_transform(data[['VehOdo']])
data[['Scaled_BYRNO']] = scaler.fit_transform(data[['BYRNO']])
data[['Scaled_VehBCost']] = scaler.fit_transform(data[['VehBCost']])
data[['Scaled_IsOnlineSale']] = scaler.fit_transform(data[['IsOnlineSale']])
data[['Scaled_WarrantyCost']] = scaler.fit_transform(data[['WarrantyCost']])

time: 94.8 ms (started: 2021-08-13 14:44:36 +00:00)

In [92]:
# Keeping Scaled Data and dropping the not scaled datas
data = data.drop(columns = not_categorical, axis=1)
data.head()

   IsBadBuy Auction  ... Scaled_IsOnlineSale Scaled_WarrantyCost
0         0   ADESA  ...                 0.0            0.092524
1         0   ADESA  ...                 0.0            0.083997
2         0   ADESA  ...                 0.0            0.131751
3         0   ADESA  ...                 0.0            0.023877
4         0   ADESA  ...                 0.0            0.079306

[5 rows x 16 columns]

time: 47.4 ms (started: 2021-08-13 14:44:36 +00:00)

In [93]:
# One Hot Encoding the Categorical columns
categorical=data.drop(['IsBadBuy'],axis=1).columns[data.drop(['IsBadBuy'],axis=1).dtypes=='object']
data = pd.get_dummies(data, columns=categorical, drop_first=True)

time: 94.5 ms (started: 2021-08-13 14:44:36 +00:00)

In [94]:
# Train Shape after preprocessing
print(data.shape)

(72983, 117)
time: 935 s (started: 2021-08-13 14:44:36 +00:00)

# Modeling

In [95]:
# X y Split
X=data.drop(['IsBadBuy'],axis=1)
y=data['IsBadBuy']

time: 19.6 ms (started: 2021-08-13 14:44:46 +00:00)

In [96]:
# Train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

time: 60.6 ms (started: 2021-08-13 14:44:49 +00:00)

In [97]:
# Importing Classification Models
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

time: 3.05 ms (started: 2021-08-13 14:44:51 +00:00)

In [98]:
models = []
models.append(('LR', LogisticRegression()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('DT', DecisionTreeClassifier()))
models.append(('RF', RandomForestClassifier()))
models.append(('NB', GaussianNB()))

time: 2.68 ms (started: 2021-08-13 14:44:59 +00:00)

In [99]:
for name, model in models:
  print(name, model)

LR LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
KNN KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')
DT DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')
RF RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)
NB GaussianNB(priors=None, var_smoothing=1e-09)
time: 5.75 ms (started: 2021-08-13 14:45:05 +00:00)

In [100]:
# Fitting all the models at once to compare
results = {}
names = []
for name, model in models:
  model.fit(X_train, y_train)
  score = model.score(X_test,y_test)
  results[name] = score
  print('%s: %f' % (name, score))

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LR: 0.894991
KNN: 0.879864
DT: 0.824181
RF: 0.899649
NB: 0.157678
time: 2min 17s (started: 2021-08-13 14:45:12 +00:00)

In [101]:
# Random Forest got highest Score
max(results, key=results.get)

'RF'

time: 5.05 ms (started: 2021-08-13 14:48:55 +00:00)

In [102]:
model = models[3][1] # Random Forest

time: 764 s (started: 2021-08-13 14:48:58 +00:00)

In [103]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.90      0.99      0.95     16015
           1       0.79      0.24      0.37      2231

    accuracy                           0.90     18246
   macro avg       0.85      0.62      0.66     18246
weighted avg       0.89      0.90      0.87     18246

time: 8.28 s (started: 2021-08-13 14:49:02 +00:00)

In [105]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

[[15876   139]
 [ 1696   535]]
time: 22.8 ms (started: 2021-08-13 14:52:06 +00:00)

In [ ]:
# Hyperparameter Tuning for Random Forest
import numpy as np
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 30, num = 6)]
# max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10, 15, 100]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 5, 10]

param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'criterion': ['gini','entropy'],
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}
print(param_grid)

{'n_estimators': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200], 'max_features': ['auto', 'sqrt'], 'max_depth': [5, 10, 15, 20, 25, 30], 'criterion': ['gini', 'entropy'], 'min_samples_split': [2, 5, 10, 15, 100], 'min_samples_leaf': [1, 2, 5, 10]}
time: 10.4 ms (started: 2021-08-13 13:13:05 +00:00)

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
rf_random = RandomizedSearchCV(estimator = model, 
                               param_distributions = param_grid,
                               scoring='neg_mean_squared_error', 
                               n_iter = 10, cv = 5, verbose=2, 
                               random_state=42, n_jobs = 1)

time: 3.39 ms (started: 2021-08-13 13:13:05 +00:00)

In [ ]:
rf_random.fit(X_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=gini

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=gini, total=  25.4s
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=gini

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   25.4s remaining:    0.0s

[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=gini, total=  25.6s
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=gini
[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=gini, total=  25.6s
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=gini
[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=gini, total=  25.8s
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=gini
[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=gini, total=  25.3s
[CV] n_estimators=300, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=30, criterion=entropy
[CV]  n_estimators=300, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=30, criterion=entropy, total=  17.3s
[CV] n_estimators=300, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=30, criterion=entropy
[CV]  n_estimators=300, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=30, criterion=entropy, total=  16.8s
[CV] n_estimators=300, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=30, criterion=entropy
[CV]  n_estimators=300, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=30, criterion=entropy, total=  15.9s
[CV] n_estimators=300, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=30, criterion=entropy
[CV]  n_estimators=300, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=30, criterion=entropy, total=  16.3s
[CV] n_estimators=300, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=30, criterion=entropy
[CV]  n_estimators=300, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=30, criterion=entropy, total=  16.1s
[CV] n_estimators=700, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=25, criterion=entropy
[CV]  n_estimators=700, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=25, criterion=entropy, total=  35.5s
[CV] n_estimators=700, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=25, criterion=entropy
[CV]  n_estimators=700, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=25, criterion=entropy, total=  35.0s
[CV] n_estimators=700, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=25, criterion=entropy
[CV]  n_estimators=700, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=25, criterion=entropy, total=  37.1s
[CV] n_estimators=700, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=25, criterion=entropy
[CV]  n_estimators=700, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=25, criterion=entropy, total=  41.1s
[CV] n_estimators=700, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=25, criterion=entropy
[CV]  n_estimators=700, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=25, criterion=entropy, total=  41.7s
[CV] n_estimators=800, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=25, criterion=entropy
[CV]  n_estimators=800, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=25, criterion=entropy, total=  50.1s
[CV] n_estimators=800, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=25, criterion=entropy
[CV]  n_estimators=800, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=25, criterion=entropy, total=  50.4s
[CV] n_estimators=800, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=25, criterion=entropy
[CV]  n_estimators=800, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=25, criterion=entropy, total=  51.4s
[CV] n_estimators=800, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=25, criterion=entropy
[CV]  n_estimators=800, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=25, criterion=entropy, total=  50.9s
[CV] n_estimators=800, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=25, criterion=entropy
[CV]  n_estimators=800, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=25, criterion=entropy, total=  50.4s
[CV] n_estimators=500, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=entropy
[CV]  n_estimators=500, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=entropy, total=  17.5s
[CV] n_estimators=500, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=entropy
[CV]  n_estimators=500, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=entropy, total=  17.5s
[CV] n_estimators=500, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=entropy
[CV]  n_estimators=500, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=entropy, total=  17.4s
[CV] n_estimators=500, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=entropy
[CV]  n_estimators=500, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=entropy, total=  17.7s
[CV] n_estimators=500, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=entropy
[CV]  n_estimators=500, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=10, criterion=entropy, total=  17.9s
[CV] n_estimators=900, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=5, criterion=entropy
[CV]  n_estimators=900, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=5, criterion=entropy, total=  18.8s
[CV] n_estimators=900, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=5, criterion=entropy
[CV]  n_estimators=900, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=5, criterion=entropy, total=  18.5s
[CV] n_estimators=900, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=5, criterion=entropy
[CV]  n_estimators=900, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=5, criterion=entropy, total=  18.3s
[CV] n_estimators=900, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=5, criterion=entropy
[CV]  n_estimators=900, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=5, criterion=entropy, total=  18.5s
[CV] n_estimators=900, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=5, criterion=entropy
[CV]  n_estimators=900, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=5, criterion=entropy, total=  18.0s
[CV] n_estimators=1100, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, criterion=entropy
[CV]  n_estimators=1100, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, criterion=entropy, total= 1.0min
[CV] n_estimators=1100, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, criterion=entropy
[CV]  n_estimators=1100, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, criterion=entropy, total= 1.0min
[CV] n_estimators=1100, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, criterion=entropy
[CV]  n_estimators=1100, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, criterion=entropy, total= 1.1min
[CV] n_estimators=1100, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, criterion=entropy
[CV]  n_estimators=1100, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, criterion=entropy, total= 1.0min
[CV] n_estimators=1100, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, criterion=entropy
[CV]  n_estimators=1100, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, criterion=entropy, total= 1.1min
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, criterion=gini
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, criterion=gini, total=  21.6s
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, criterion=gini
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, criterion=gini, total=  21.6s
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, criterion=gini
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, criterion=gini, total=  21.8s
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, criterion=gini
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, criterion=gini, total=  21.3s
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, criterion=gini
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, criterion=gini, total=  21.7s
[CV] n_estimators=700, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=30, criterion=entropy
[CV]  n_estimators=700, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=30, criterion=entropy, total=  43.7s
[CV] n_estimators=700, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=30, criterion=entropy
[CV]  n_estimators=700, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=30, criterion=entropy, total=  43.2s
[CV] n_estimators=700, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=30, criterion=entropy
[CV]  n_estimators=700, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=30, criterion=entropy, total=  43.2s
[CV] n_estimators=700, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=30, criterion=entropy
[CV]  n_estimators=700, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=30, criterion=entropy, total=  42.4s
[CV] n_estimators=700, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=30, criterion=entropy
[CV]  n_estimators=700, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=30, criterion=entropy, total=  41.9s
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, criterion=entropy
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, criterion=entropy, total= 1.1min
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, criterion=entropy
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, criterion=entropy, total= 1.1min
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, criterion=entropy
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, criterion=entropy, total= 1.1min
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, criterion=entropy
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, criterion=entropy, total= 1.1min
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, criterion=entropy
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, criterion=entropy, total= 1.1min

[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed: 30.1min finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=100,
                                                    n_jobs...
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [5, 10, 15, 20, 25, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 10, 15,
                                                              100],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900, 1000, 1100,
                                                         1200]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring='neg_mean_squared_error',
                   verbose=2)

time: 31min 27s (started: 2021-08-13 13:13:05 +00:00)

In [ ]:
rf_random.best_params_

{'criterion': 'entropy',
 'max_depth': 20,
 'max_features': 'auto',
 'min_samples_leaf': 2,
 'min_samples_split': 15,
 'n_estimators': 1100}

time: 9.19 ms (started: 2021-08-13 13:44:33 +00:00)

In [107]:
rf_random.best_score_

-0.10027952463290175

time: 5.43 ms (started: 2021-08-13 14:56:33 +00:00)

In [ ]:
rand_model = rf_random.best_estimator_
rand_model

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=20, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=2, min_samples_split=15,
                       min_weight_fraction_leaf=0.0, n_estimators=1100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

time: 5.99 ms (started: 2021-08-13 13:44:33 +00:00)

In [109]:
rand_model.fit(X_train, y_train)
y_pred_rand = rand_model.predict(X_test)
rand_model.score(X_test, y_test)

0.9011838211114764

time: 1min 22s (started: 2021-08-13 15:15:15 +00:00)

In [110]:
print(classification_report(y_test, y_pred_rand))

              precision    recall  f1-score   support

           0       0.90      0.99      0.95     16015
           1       0.85      0.23      0.37      2231

    accuracy                           0.90     18246
   macro avg       0.87      0.61      0.66     18246
weighted avg       0.90      0.90      0.88     18246

time: 29.5 ms (started: 2021-08-13 15:16:47 +00:00)

In [112]:
print(confusion_matrix(y_test, y_pred_rand))

[[15920    95]
 [ 1708   523]]
time: 21.2 ms (started: 2021-08-13 15:17:32 +00:00)